<!DOCTYPE html>

<html>
<body>

<link rel="stylesheet" href="../static/style.css">
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<title>WebApp Demo with PyFluent</title>

	
<script language="javascript">
function fetchData() {
document.getElementsByName('SolveStatus')[0].value = "Solve in Progress"
b=document.getElementById("SolveStatus");
b.style.backgroundColor='red';
}
</script>

<div class="container">
        <div class="Title">
            <h1>AUTOMATION OF FLOW FIELD IN A MIXING VESSEL</h1>
        </div>

        <div class="Input-Header">
            <b><u>INPUTS</u></b> </label> <br/>
        </div>
        
        <div class="Input-Names">
        <label for="folder">Folder Name </label><br/><br/>
        <label for="geomfile" class="custom-file-upload" >Geometry file upload</label><br/><br/>
        <label for="boundary">No. of Boundary layers</label> <br/><br/>
        <label for="growth">Growth rate </label> <br/><br/>
        <label for="cores">Number of cores </label> <br/><br/>
        <label for="flow">Inlet flow rate (m^3/s) </label> <br/><br/>
        <label for="meshsize">Mesh size (mm) </label> <br/><br/>
        <label for="outlen">outlet length (mm) </label> <br/><br/>
        <label for="in1len">inlet 1 length (mm) </label> <br/><br/>
        <label for="in2len">inlet 2 length (mm) </label> <br/><br/>
        <label for="impellerradius">impeller radius (mm) </label> <br/><br/>
        </div>

	
	    <div class="Input-Values">
        <form onsubmit='fetchData()' method="POST" enctype="multipart/form-data">
            <input type="text" id="folder" name="folder" required> <br/>
            <input type="file" id="geomfile" name="geomfile" required/><br/><br/>
            <input type="number" step=1 id="boundary" name="boundary" value={{L2}} required> <br/><br/>
            <input type="number" step=0.1 id="growth" name="growth" value={{t2}} required> <br/><br/>
            <input type="number" step=1 id="cores" name="cores" value={{E21}} required> <br/><br/>
            <input type="number" step=0.01 id="flow" name="flow" value={{E22}} required> <br/><br/>
            <input type="number" step=0.1 id="meshsize" name="meshsize" value={{c21}} required> <br/><br/>
            <input type="number" step=0.1 id="outlen" name="outlen" value={{C1}} required> <br/><br/>
            <input type="number" step=0.1 id="in1len" name="in1len" value={{C11}} required> <br/><br/>
            <input type="number" step=0.1 id="in2len" name="in2len" value={{C111}} required> <br/><br/>
            <input type="number" step=0.1 id="impellerradius" name="impellerradius" value={{C1111}} required> <br/><br/>            
            <button type="submit" value="submit" name="Solve">Solve</button>
        </form>
        <br/> <br/> <br/>
		    
</body>
</html>

